<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Frete_Click>
			<version>0.0.1</version>
		</Frete_Click>
	</modules>
	<global>
		<models>
			<freteclick>
				<class>Frete_Click_Model</class>
			</freteclick>
		</models>
		<blocks>
			<freteclick>
				<class>Frete_Click_Block</class>
			</freteclick>
		</blocks>
		<helpers>
			<freteclick>
				<class>Frete_Click_Helper</class>
			</freteclick>
		</helpers>
		<sales>
			<shipping>
				<carriers>
					<freteclick>
						<class>Frete_Click_Model_Carrier</class>
					</freteclick>
				</carriers>
			</shipping>
		</sales>
		<resources>
			<freteclick_setup>
				<setup>
					<module>Frete_Click</module>
				</setup>
				<connection>
					<use>directory_setup</use>
				</connection>
			</freteclick_setup>
		</resources>
		<events>
			<sales_order_place_before>
				<observers>
					<observer>
						<class>freteclick/observer</class>
						<method>addFreteClickComment</method>
					</observer>
				</observers>
			</sales_order_place_before>
		</events>
	</global>
	<adminhtml>
		<events>
			<checkout_submit_all_after>
				<observers>
					<observer>
						<class>freteclick/observer</class>
						<method>addAdminFreteClickComment</method>
					</observer>
				</observers>
			</checkout_submit_all_after>
		</events>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<freteclick>
					<files>
						<default>Frete_Click.csv</default>
					</files>
				</freteclick>
			</modules>
		</translate>
	</frontend>
	<default>
		<carriers>
			<freteclick>
				<active>0</active>
				<model>Frete_Click_Model_Carrier</model>
				<title>Frete Click</title>
				<api_quote_url>https://api.freteclick.com.br/sales/shipping-quote.json</api_quote_url>
				<address_model>freteclick/address_postmon</address_model>
				<handling_action>P</handling_action>
				<shipment_requesttype>0</shipment_requesttype>
				<free_shipping_enable>0</free_shipping_enable>
				<crossdocking>0</crossdocking>
				<attribute_height>volume_altura</attribute_height>
				<attribute_width>volume_largura</attribute_width>
				<attribute_length>volume_comprimento</attribute_length>
				<attribute_fitsize>fit_size</attribute_fitsize>
				<attribute_crossdocking>posting_days</attribute_crossdocking>
				<size_factor>1</size_factor>
				<weight_factor>1</weight_factor>
			</freteclick>
		</carriers>
	</default>
</config>